<!-- Navbar with offcanvas menu on mobile -->
<header class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
    <div class="container">
        <a href="#" class="navbar-brand flex-shrink-0">
            🚀 Moon Landers
        </a>
        <nav class="collapse navbar-collapse">
            <span class="me-auto"></span>
            <a href="" class="btn btn-primary btn-sm fs-sm rounded my-3 my-lg-0">
                Start your project
            </a>
        </nav>
    </div>
</header>