{% extends "base.html" %}

{% block content %}
<main>
    <section>
        <article>
            <header>
                <hgroup>
                    <h1>Register</h1>
                </hgroup>
            </header>

            <form method="post">
                {{ form.as_p }}
                <button type="submit">Register</button>
            </form>

            <footer>
                Already have an account? <a href="{% url 'login' %}">Login</a>
            </footer>
        </article>
    </section>
</main>
{% endblock content %}