{% extends "base.html" %}
{% load static %}

{% block content %}
{% include "_partials/navbar.html" %}
<main>
    <section>
        <div>
            <h1>
                Smarter Solutions To Start <br />
                Your Bussiness Online
            </h1>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere
                magnam odit rem dicta eaque nam sed minus animi ducimus qui!
                Sint molestiae vel deleniti dignissimos totam ipsa iste qui
                incidunt?
            </p>
            <a href="#form-container" role="button">Start your project</a>
        </div>
        <div>
            <ul>
                <li>
                    <i class="bi bi-check-circle"></i>
                    Extensive work experience
                </li>
                <li>
                    <i class="bi bi-check-circle"></i>
                    Flexible working conditions
                </li>
                <li>
                    <i class="bi bi-check-circle"></i>
                    Large and friendly team
                </li>
            </ul>
        </div>
    </section>

    <section>
        <h2>Our Services</h2>

        {% for service in service_list %}
        <article>
            <div>
                <a href="#">
                    <img width="250" src="{{ service.image.url }}" alt="Moon" />
                </a>
            </div>
            <div>
                <div>
                    <h3>{{ service.title }}</h3>
                    <div>
                        {% for tag in service.tags.all %}
                        <span>{{ tag }}</span>
                        {% endfor %}
                    </div>
                    <p>{{ service.description }}</p>
                    <a href="#">View more</a>
                </div>
            </div>
        </article>
        {% endfor %}
    </section>

    {% include "services/contact_form.html" %}

    <section>
        <div>
            <details>
                <summary>How do I start my project?</summary>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
                sequi ratione sunt. Adipisci assumenda enim, nisi, tempora quia
                deleniti maxime laborum culpa excepturi molestiae nihil, qui
                incidunt provident corrupti. Cumque.
            </details>

            <details>
                <summary>How long does it take to complete a project?</summary>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
                sequi ratione sunt. Adipisci assumenda enim, nisi, tempora quia
                deleniti maxime laborum culpa excepturi molestiae nihil, qui
                incidunt provident corrupti. Cumque.
            </details>

            <details>
                <summary>Do I need to pay recurring fees?</summary>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
                sequi ratione sunt. Adipisci assumenda enim, nisi, tempora quia
                deleniti maxime laborum culpa excepturi molestiae nihil, qui
                incidunt provident corrupti. Cumque.
            </details>
        </div>
        <div>
            <form action="">
                <fieldset>
                    <legend>Want to learn more?</legend>
                    <p>
                        Contact us, ask your questions we are more than happy to
                        answer
                    </p>
                    <a href="#form-container" role="button">Contact us</a>
                </fieldset>
            </form>
        </div>
    </section>
</main>
{% include "_partials/footer.html" %}
{% endblock content %}
